name: delete previous files

on:
    schedule:
        - cron: '50 22 * * *'
    workflow_dispatch:


jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:

      - name: checkout repo content
        uses: actions/checkout@v2 # checkout the repository content to github runner
          
      - name: commit files
        run: |
          git config --global user.email "saintglinglins@gmail.com"
          git config --global user.name "clmarmy"
          git rm -r data/$(date --date=' 1 days ago' '+%Y-%m-%d')
          git diff-index --quiet HEAD || (git commit -a -m "updated logs" --allow-empty)
          
      - name: push changes
        uses: ad-m/github-push-action@v0.6.0
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          branch: main 

# git rm -r data/$(date +%Y-%m-%d) # 
